html,
body {
    width: 100%;
    background-color: var(--themeBg);
    color: var(--textColor);
}

.section {
    width: 100%;
    min-height: 500px;
    padding: 0px -60px;
}
.chat-list {
    overflow-y: auto;
  }
  
  .chat-window {
    overflow-y: auto;
  }
  